if has guix; then
    watch_file env/guix/uraj/channels-lock.scm env/guix/uraj/manifest.scm
    eval "$(guix time-machine -C env/guix/uraj/channels-lock.scm -- shell -m env/guix/uraj/manifest.scm --search-paths)"
fi
