if has guix; then
    watch_file env/guix/channels-lock.scm env/guix/manifest.scm
    eval "$(guix time-machine -C env/guix/channels-lock.scm -- shell -m env/guix/manifest.scm --search-paths)"
fi
export GUILE_LOAD_PATH="$PWD/src/guile${GUILE_LOAD_PATH:+:$GUILE_LOAD_PATH}"
