[[ -f ~/.profile ]] && . ~/.profile
if [ ! -n "$HAS_MY_PROFILE" ]; then
    for dir in ~/.profile.d; do
        if [ -d $dir ]
        then
            for profile in $dir/*.sh
            do
                . $profile
            done
        fi
    done
fi
[[ -f ~/.bashrc ]] && . ~/.bashrc
export HAS_MY_PROFILE=1
